**q_**md
**venv
**auth
**auth/** 
__pycache__/**
__pycache__
.nicegui/**
.nicegui
user_jobs
projects/**
projects
**env

q_*.md
**/q_*.md
**/notes
notes


**/*.cif
**/*.mrc


tmpOut/** 


promptbuilder.py

config/qsub.sh
config/conf.yaml

